    <div class="page-overlay"></div>

    <header class="hero">
        <h1>{{username}}</h1>
        <p class="subtitle">Professional Photographer</p>

        <nav class="navbar">
            <a routerLink="/home" class="active">Portfolio</a>
            <a routerLink="/about">About</a>
            <!-- <a routerLink="/contact">Contact</a> -->
        </nav>
    </header>

    <main class="gallery">
        @for (g of gallery; track $index;) {
            <div class="card">
                <img [src]="g.url" alt="mexico" />
                <div class="card-overlay"></div>
                <div class="card-content">
                    <h2>{{g.name}}</h2>
                    <span class="line"></span>
                </div>
            </div>
        }
        <!-- <div class="card">
            <img id="ImgSnapshot"  alt="Snapshots" />
            <div class="card-overlay"></div>
            <div class="card-content">
                <h2>Snapshots</h2>
                <span class="line"></span>
            </div>
        </div>

        <div class="card">
            <img id="ImgMexico"  alt="mexico" />
            <div class="card-overlay"></div>
            <div class="card-content">
                <h2>México</h2>
                <span class="line"></span>
            </div>
        </div>

        <div class="card">
            <img id="ImgNature"  alt="Nature" />
            <div class="card-overlay"></div>
            <div class="card-content">
                <h2>Nature</h2>
                <span class="line"></span>
            </div>
        </div>

        <div class="card">
            <img id="ImgUnfreezing"  alt="Unfreezing Time" />
            <div class="card-overlay"></div>
            <div class="card-content">
                <h2>Unfreezing Time</h2>
                <span class="line"></span>
            </div>
        </div>

        <div class="card">
            <img id="ImgPortrait"  alt="Portraits" />
            <div class="card-overlay"></div>
            <div class="card-content">
                <h2>Portraits</h2>
                <span class="line"></span>
            </div>
        </div>

        <div class="card">
            <img id="ImgAnimal"  alt="Animals" />
            <div class="card-overlay"></div>
            <div class="card-content">
                <h2>Animals</h2>
                <span class="line"></span>
            </div>
        </div> -->
    </main>